
<div class="main-content">
  
  <div class="container-fluid">
      <!-- <app-loading-screen></app-loading-screen> -->
    <div class="row">
      <button (click)="open(fileuploadintent)" class="btn btn-primary btn-round">
        <i class="material-icons">cloud_upload</i> Upload New File
      </button>

      <button (click)="refresh()" class="btn btn-primary btn-round" style="
      left: 1100px;
  ">
        <i class="material-icons">refresh</i>
      </button>

      <!-- Modal for File Upload -->
      <ng-template #fileuploadintent let-modal>
        <div class="modal-body">
          <div *ngIf="currentFileUpload" class="progress" style="height: 30px">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
              attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
          </div>

          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('close')">Close</button>
        </div>
      </ng-template>

    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let fileobject of fileListobject ; index as i ">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">folder</i>
            </div>
            <h4 class="card-title">{{fileobject.filename}}</h4>
            <!-- <i class="material-icons">calendar_today</i>  -->
            <p class="card-category" style="
                      font-size: large;
                      font-weight: 900;
                  ">{{fileobject.creationDate}}</p>
          </div>
          <div class="card-footer">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" (click)="download(i)" ngbDropdownItem>Download</button>
                <button class="dropdown-item" (click)="open(versionListdownload)"
                  *ngIf="fileobject.versionList.length > 0" ngbDropdownItem>Download Versions</button>
                <button class="dropdown-item" (click)="open(content)" ngbDropdownItem>Preview</button>
                <button class="dropdown-item" *ngIf="fileobject.versionList.length > 0" (click)="open(versionList)"
                  ngbDropdownItem>Preview Versions</button>
                <button class="dropdown-item" (click)="open(intent)" ngbDropdownItem>Share</button>
                <!-- <button class="dropdown-item" *ngIf="fileobject.versionList.length > 0" (click)="open(versionListForSharing)" ngbDropdownItem>Share
                  Versions</button> -->
                <button class="dropdown-item" (click)="open(whatintent)" ngbDropdownItem>Upload latest
                  Version</button>
                <button class="dropdown-item" (click)="delete(i)" *ngIf="fileobject.versionList.length === 0"
                  ngbDropdownItem>Remove</button>
                  <button class="dropdown-item" (click)="open(versionListdelete)" *ngIf="fileobject.versionList.length > 0"
                  ngbDropdownItem>Remove Versions</button>
                <!-- <button class="dropdown-item" *ngIf="fileobject.versionList.length > 0" ngbDropdownItem>Remove
                  Versions</button> -->
                <!-- <button class="dropdown-item"  ngbDropdownItem>Shared Amongst</button> -->
              </div>
            </div>
          </div>
        </div>


        <!-- Modal for preview purpose -->
        <ng-template #content let-modal>
            <!-- <img src="assets/SS.svg"  style="width: 100%;background-color: black;" /> -->
          <div class="modal-body" *ngIf='fileType[i] === "image"' style="width: 250%;
                right: 400px;
                padding: 0px;">
            <img [src]="viewfileurls[i]" *ngIf='fileType[i] === "image"' style="    width: 100%;" />
          </div>

          <!-- for Pdfs -->
          <div class="modal-body" *ngIf='fileType[i] === "PDF"' style="    width: 200%;
                right: 200px;
                padding: 0px;
                height: 100px;">
            <iframe [src]="viewfileurls[i]" width="800px" height="800px" *ngIf='fileType[i] === "PDF"' style="    width: 100%; background-color:white
                    "></iframe>
          </div>


          <div class="modal-body" *ngIf='fileType[i] === "video"' style=" padding:0px;   width: 400%;
                    right: 500px;
                    height: 500px; ">
            <video *ngIf='fileType[i] === "video"' style=" width: 75%;
                    padding: 0px;" controls>
              <source [src]="viewfileurls[i]" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>


          <div class="modal-body" *ngIf='fileType[i] === "audio"'>
            <audio *ngIf='fileType[i] === "audio"' style="    width: 100%;" controls>
              <source [src]="viewfileurls[i]" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </ng-template>


        <!-- Modal for showing form for sharing file to other users -->
        <ng-template #intent let-modal>
          <div class="modal-body">
            <form [formGroup]="formModelobject" (ngSubmit)="submitFormForShare(formModelobject.value,i)">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:50px;">
                <label for="typeahead-format">User Email</label>
                <input id="typeahead-format" type="text" class="form-control" formControlName="useremail" />
              </div>
              <br />
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:80px;">

                <label> Permissions </label><br>
                <button class="btn btn-primary btn-sm" (click)="setPermission('1')">READ</button>
                <button class="btn btn-primary btn-sm" (click)="setPermission('2')">UPDATE</button>
                <button class="btn btn-primary btn-sm" (click)="setPermission('3')">DELETE</button>
              </div>

              <!-- <button class="btn btn-success" type="submit" ><i class="material-icons">share</i></button> -->
            </form>
          </div>
          <div *ngIf="shareformsubmissionflag" class="alert alert-success alert-dismissible fade show" role="alert">
            Successfully shared File Please close Popup!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeSuccessfull()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="shareformsubmissionflagerro" class="alert alert-danger alert-dismissible fade show" role="alert">
            Cant be Shared Right Now !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeerror()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div *ngIf="alreadysharedflag" class="alert alert-danger alert-dismissible fade show" role="alert">
            You have already shared this File To this User !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closealready()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('close')">Close</button>
          </div>
        </ng-template>




        <!-- Modal for Version Upload -->

        <ng-template #whatintent let-modal>
          <div class="modal-body">
            <div *ngIf="currentFileUpload" class="progress" style="height: 30px">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{width:progress.percentage+'%'}">
                {{progress.percentage}}%</div>
            </div>

            <label class="btn btn-default">
              <input type="file" (change)="selectFile($event)">
            </label>
            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload(i)">Upload</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Close</button>
          </div>
        </ng-template>

        <!-- Modal For showing multiple versions of File to Preview  -->
        <ng-template #versionList let-modal>
          <div class="modal-body">
            <ul *ngFor="let vv of versionListOfEachFile[i] ;index as j">
              <li class="mdl-list__item">
                <button class="btn btn-info" (click)="open(vieweveryversionfile)"><i
                    class="material-icons">play_arrow</i> {{vv.versionname}}</button>
                <ng-template #vieweveryversionfile let-modal>
                  
                  <div class="modal-body" *ngIf='fileType[i] === "image"' style="width: 250%;
                        right: 400px;
                        padding: 0px;">
                    <img [src]="versionListOfEachFileViewUrls[i][j]" *ngIf='fileType[i] === "image"'
                      style="    width: 100%;" />
                  </div>

                  <!-- for Pdfs -->
                  <div class="modal-body" *ngIf='fileType[i] === "PDF"' style="    width: 200%;
                        right: 200px;
                        padding: 0px;
                        height: 100px;">
                    <iframe [src]="versionListOfEachFileViewUrls[i][j]" width="800px" height="800px"
                      *ngIf='fileType[i] === "PDF"' style="    width: 100%; background-color:white
                            "></iframe>
                  </div>


                  <div class="modal-body" *ngIf='fileType[i] === "video"' style=" padding:0px;   width: 400%;
                            right: 500px;
                            height: 500px; ">
                    <video *ngIf='fileType[i] === "video"' style=" width: 75%;
                            padding: 0px;" controls>
                      <source [src]="versionListOfEachFileViewUrls[i][j]" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>


                  <div class="modal-body" *ngIf='fileType[i] === "audio"'>
                    <audio *ngIf='fileType[i] === "audio"' style="    width: 100%;" controls>
                      <source [src]="versionListOfEachFileViewUrls[i][j]" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
                  </div>
                </ng-template>

              </li>
            </ul>
          </div>
        </ng-template>


        <!-- Modal For showing multiple versions of File to Download  -->
        <ng-template #versionListdownload let-modal>
          <div class="modal-body">
            <ul class="demo-list-icon mdl-list" *ngFor="let vv of versionListOfEachFile[i] ;index as j">
              <li class="mdl-list__item">
                <button class="btn btn-info" (click)="downloadVersion(i,j)"><i class="material-icons">cloud_download</i>
                  {{vv.versionname}}</button>
              </li>
            </ul>
          </div>
        </ng-template>

        <!-- Modal For showing multiple versions of File to DELETE  -->
        <ng-template #versionListdelete  let-modal>  
            <div class="modal-body">
              <ul class="demo-list-icon mdl-list" *ngFor="let vv of versionListOfEachFile[i] ;index as j">
                <li class="mdl-list__item">
                  <button class="btn btn-info" (click)="deleteVersion(i,j)"><i class="material-icons">delete</i>
                     {{vv.versionname}}</button>
                </li>
              </ul>
            </div>
          </ng-template>

        <!-- Modal for showing multiple versions for sharing to other users -->
        <ng-template #versionListForSharing let-modal>
          <div class="modal-body">
            <ul class="demo-list-icon mdl-list" *ngFor="let vv of versionListOfEachFile[i] ;index as j">
              <li class="mdl-list__item">
                <button class="btn btn-info" (click)="openForShare(fileSharingVersionintent,vv.versionid)"><i class="material-icons">share</i>
                  {{vv.versionname}}</button>
              </li>
            </ul>
          </div>
        </ng-template>


        <!-- Modal for showing form for sharing file Versions to other users -->
        <ng-template #fileSharingVersionintent let-modal>
          <div class="modal-body">
            <form [formGroup]="formModelobject" (ngSubmit)="submitFormForShareVersion(formModelobject.value)">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:50px;">
                <label for="typeahead-format">User Email</label>
                <input id="typeahead-format" type="text" class="form-control" formControlName="useremail" />
              </div>
              <br />
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:80px;">

                <label> Permissions </label><br>
                <button class="btn btn-primary btn-sm" (click)="setPermission('1')">READ</button>
                <button class="btn btn-primary btn-sm" (click)="setPermission('2')">UPDATE</button>
                <button class="btn btn-primary btn-sm" (click)="setPermission('3')">DELETE</button>
              </div>

              <!-- <button class="btn btn-success" type="submit" ><i class="material-icons">share</i></button> -->
            </form>
          </div>
          <div *ngIf="shareformsubmissionflag" class="alert alert-success alert-dismissible fade show" role="alert">
            Successfully shared File Please close Popup!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeSuccessfull()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="shareformsubmissionflagerro" class="alert alert-danger alert-dismissible fade show" role="alert">
            Cant be Shared Right Now !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeerror()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div *ngIf="alreadysharedflag" class="alert alert-danger alert-dismissible fade show" role="alert">
            You have already shared this File To this User !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closealready()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('close')">Close</button>
          </div>
        </ng-template>

      </div>
    </div>