<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Your Activity</h4>
                  </div>
                  <div class="card-body" *ngFor="let transaction of transactionList"  >
                      <div class="card-body" *ngIf="transaction.actionTaken==='UPLOAD'"  style="
                      font-size: large;
                      font-family: unset;
                      font-weight: 600;
                  ">
                       You   {{transaction.actionTaken}}ED One File with name {{transaction.fileName}}
                      </div>
                      <div class="card-body" *ngIf="transaction.actionTaken==='DELETE'"  style="
                      font-size: large;
                      font-family: unset;
                      font-weight: 600;
                  ">
                       You   {{transaction.actionTaken}}D One File with name {{transaction.fileName}}
                      </div>
                      <div class="card-body" *ngIf="transaction.actionTaken==='SHARE'"  style="
                      font-size: large;
                      font-family: unset;
                      font-weight: 600;
                  ">
                       You   {{transaction.actionTaken}}D One File with name {{transaction.fileName}} To {{transaction.toemail}}
                      </div>
                      <div class="card-body" *ngIf="transaction.actionTaken==='DOWNLOAD'"  style="
                      font-size: large;
                      font-family: unset;
                      font-weight: 600;
                  ">
                       You   {{transaction.actionTaken}}ED This File with name {{transaction.fileName}} 
                      </div>
                      <div class="card-body" *ngIf="transaction.actionTaken==='UPLOADVERSION'"  style="
                      font-size: large;
                      font-family: unset;
                      font-weight: 600;
                  ">
                       You   UPLOADED new Version with name {{transaction.fileName}} 
                      </div>
                      <hr/>
              </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <!-- <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div> -->
                  <div class="card-body">
                      <h5 class="card-category text-gray">User</h5>
                      <!-- {{userProfileObject.username}} -->
                      <h3 class="card-title" style="
                      font-family: sans-serif;
                  ">{{userProfileObject.username}}</h3>
                      <!-- {{userProfileObject.email}} -->
                      <p class="card-description" style="
                      font-size: x-large;
                  ">
                        {{userProfileObject.email}}
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
